main{
    padding:10px;
}
.form-group{
    padding: 10px;
}
.form-input,.form-password{
    font-size: 1.2rem;
    border:2px solid black;
    border-radius: 6px;
   }
input[type="email"]{
    width:50%;
    background-color: aqua;
}
input[type="password"]{
    font-size: 1.6rem;
    padding:5px;
}

button{
    border:2px solid black;
    border-radius: 6px;
    background: green;
    width: 30%;
    font-size: 1.2rem;
}
.row{
    width: 25%;
    float: left;
}
.input-text{
    padding: 5px;
    }
input[type="text"],select,textarea{
    padding:5px;
    border:2px solid blue;
    border-radius: 6px;
    outline:2px solid green
}
input[type="password"]:focus{
    outline: 2px solid blue;
    font-size: 1.2rem;
    border-radius: 6px;
}

::placeholder{
    font-style: italic;
}
.container{
    width:500px;

    border:2px solid rgb(221, 243, 243);
    border-radius:6px;
    margin-bottom: 5px;
    background-color: blanchedalmond;
  
}
p{
    color:rgb(202, 135, 53);
    font-size:10px;
}